.background-img {
  height: 400px;
  width: 100%;
  border-radius: 15px;
  background-image: url('../img/bg/background.jpg');
  background-position: center;
  background-size: 100%;
  color: #f2f2f2;
}

.title-bg{
  font-size: 32px;
  font-weight: bold;
}

.step-frieze {
  display: flex;
}

.flex {
  display: flex;
}

.add-more-step {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: #FC4C69;
  cursor: pointer;
}

.logo-white {
  margin-left: 15px;
  height: 40px;
  width: 110px;
}

.step {
  background-color: #FC4C69;
  margin: 0 50px 0 0;
  border-radius: 0  0 20px 20px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}

.step-supp {
  background-color: #FC4C69;
  opacity: 0.9;
  margin: 0 50px 0 0;
  border-radius: 20px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}

.step-button {
  padding : 10px;
  color: #f0f0f0;
  font-weight: bold;
}

.title-bg {
  padding: 50px;
}

.search-place {
  display: flex;
  margin: 25px 0;
  position: relative;
}

.icon-background {
  height: 50px;
  width: 45px;
  background-color: #f2f2f2;
  border-radius: 18px 0 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-place input {
  font-family: 'Raleway';
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  border-left: solid #f2f2f2;
  border-right: solid #FC4C69;
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  padding: 0 10px;
}

.search-place-button {
  height: 50px;
  width: 120px;
  background-color: #FC4C69;
  border-radius: 0 18px 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-place-button a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.icon-mobile {
  display: none !important;
  color: white;
}

.filter-group {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.filter-icon {
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-title {
  margin-right: 40px;
}

.filter-module {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #f2f2f2;
  border-radius: 30px;
  margin-right: 25px;
}

.filter-module i {
  font-size: 20px;
}

.filter-module p {
  padding: 0 20px;
}

.circle-icon-filter {
  height: 50px;
  width: 50px;
  background-color: #fdfdfd;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon-filter i {
  color: #FC4C69;
}

.search-info {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.circle-icon-info {
  border: solid 1px #f0f0f0;
  margin-right: 15px;
  height: 25px;
  width: 25px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon-info i {
  color: #FC4C69;
  font-size: 15px;
}

@media all and (max-width: 768px) {
  .logo-white {
    height: 30px;
    width: 80px;
  }
  .title-bg{
    font-size: 18px;

  }

  .step {
    margin: 0 40px 0 0;
    padding: 0 5px 0 5px;
    height: 80px;
    font-size: 12px;
  }

  .step-supp {
    margin: 0 40px 0 0;
    padding: 0 5px 0 5px;
    height: 80px;
    font-size: 12px;
  }

  .background-img {
    height: 230px;
  }

  .filter h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .filter p {
    font-size: 1.4rem;
  }

  .search-place {
    justify-content: center;
  }

  .icon-background {
    height: 65px;
    width: 65px;
    font-size: 22px;
  }

  .search-place input {
    height: 65px;
    font-size: 1.4rem;
    font-family: 'Raleway';
    width: 90%;
    border-radius: 0 25px 25px 0;
  }

  .search-place-button {
    height: 65px;
    width: 65px;
    position: absolute;
    right: 0;
    border-radius: 22px;
  }

  .search-place-button a {
    display: none;
  }

  .icon-mobile {
    display: inline-block !important;
    font-size: 22px;
  }

  .filter-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-module {
    max-width: fit-content;
    margin: 10px 0;
  }
}
